{% extends 'shopapp/base.html'%} 


 {% block content%}
   <div class="container ">
     <div class="row">
       {% for x in data %}
        <div class="col-lg  pt-4">
          <div class="card shadow-sm bg-body rounded" style="width: 14rem;">
            <a href="../details/{{x.id}}"><img src="{{x.product_image.url}}" class="card-img-top ms-auto me-auto p-3 shadow" style="height: 200px; width: 200px;" alt="{{x.product_name}}"></a>
            <div class="card-body text-center ">
              <h5 class="card-title">{{x.product_name}}</h5>
              <p class="card-text">{{x.product_title}}</p>
              <p class=" "><i class="fa-solid fa-indian-rupee-sign">{{x.product_price}} /-</i></p>
              <p>
                <form method="post" action="../add_to_cart/">
                  {% csrf_token %}

                  <input type="hidden" name="user" value="{{user.id}}">
                  <input type="hidden" name="productId" value="{{x.id}}">
                  
                  <input type="hidden" name="qty" value="1">

                  <input type="submit" name="btncart" value="Add To Cart" class="btn btn-primary">

                </form>

              </p>
             </div>
         
            </div>
        </div>
       
          {% endfor %}
     </div>
   </div> 
 
{% endblock %}